@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


html, body {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    /* overflow-y: hidden; */
}

.Wrapper {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    justify-items: center;

    flex-direction: row;

    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    position: absolute;
}

.LeftSideBar {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 24%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Text {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    padding-bottom: 1%;
    letter-spacing: 1.2px;
}

.ColorText {
    color: #3144F3;
}

.BetweenLine {
    background-color: rgb(0, 0, 0);
    width: 80%;
    height: 0.3%;
}

.PeopleContent {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.NumOfPeople {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.BigSizeText {
    font-size: 150%;
}

.ListContainer {
    width: 75%;
    height: 85%;
}

.ListContainerInner {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
}

.PeopleList {
    height: 4%;
    width: fit-content;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ///////////////////////////////////////////////////////////////////////////// */

.RightSideBar {
    background-color: rgb(254, 254, 254);
    height: 100%;
    width: 76%;

    display: flex;
    flex-direction: column;
}

.HeaderBar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 6%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Name {
    font-size: 140%;
    padding-right: 1%;
}

.ManIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
}

.ChatContent {
    background-color: #F9F9F9;
    width: 100%;
    height: 88vh;
    scroll-snap-align: end none;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.ChatBorder {
    position: relative;
    padding-bottom: 5rem;
    border: 0;
}

.NavBarLink {
    color: #3144F3;
    font-weight: bold;
    text-decoration: none;
}

.Message {
    width: 100%;
    height: min-content;

    padding-left: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.MsgName {
    padding-bottom: 0.2%;
    font-size: 120%;
    font-weight: 600;
}

.UserConnected {
    width: 100%;
    height: min-content;

    padding-left: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;

    display: flex;
    align-items: center;
}

.UserDisConnected {
    width: 100%;
    height: min-content;

    padding-left: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;

    display: flex;
    align-items: center;
}

.JImg {
    height: 25px;
    width: 25px;
}

.MsgUserName {
    font-weight: bold;
    padding-right: 0.5%;
    padding-left: 1%;
}


.MessageInputBar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-height: 3rem;
}

.Input {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 2%;
    padding-right: 2%;

    font-size: 16px;
    letter-spacing: 1.2px;
}

.Input:focus {
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

/* /////////////////////////////////////////////// */

.Burger {
    display: none;
}

.NavBarText {
    display: none;
}

.WithOutMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.WithMenu {
    display: none;
}

@media screen and (max-width: 1000px) {

.NavBarText {
    display: flex;
    margin-left: 1rem;
    font-size: 240%;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.Name{
    display: none;
}

.ManIcon {
    display: none;
}

.HeaderBar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    border-bottom: 2px solid #2A2A2A;
}

.WithOutMenu {
    height: min-content;
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.WithMenu {
    height: min-content;
    width: 100%;

    display: none;
    justify-content: center;
    transition: all 0.9s ease;
}

.Menu {
    height: min-content;
    width: 100%;
    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MenuName {
    font-size: 160%;
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.MenuBetweenLine {
    height: 2px;
    width: 80%;
    background-color: black;
    margin-bottom: 0.6rem;
}

.NumOfPeople {
    margin-bottom: 0.6rem;
}


.Burger {
    background-color: #2A2A2A;
    height: max-content;
    width: max-content;

    margin-right: 0.8rem;
    padding: 0.4rem;
    padding-bottom: 0.28rem;
    height: min-content;
    width: min-content;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
}

.Burgerline {
    border-radius: 3px;
    margin: 10%;
    background-color: white;
    height: 4px;
    width: 33px;
}

.LeftSideBar {
    display: none;
}

.RightSideBar {
    width: 100%;
}

.Message {
    padding-left: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.UserConnected {
    padding-left: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

}

.UserDisConnected {
    padding-left: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

}

.MessageInputBar {
    min-height: 3rem;
}
}