@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* :root {
    --one-color: #262337;
    --two-color: #2b283d;
    --btn-color: #383450;
    --btnhover-color: #4C466B;
    --colortext-color: #5DC4F8;
    --text-color: #F0F0F1;
}

:root{
    --one-color: #1f1f1f;
    --two-color: #121212;
    --btn-color: #2d2d2d;
    --btnhover-color: #363636;
    --colortext-color: #3144F3;
    --text-color: #F0F0F1;
} */

:root{
    --border-color: #c2c2c2;
    --one-color: #FFFFFF;
    --two-color: #F9F9F9;
    --btn-color: #E7E7E7;
    --btnhover-color: #cdcccc;
    --colortext-color: #3144F3;
    --text-color: #000000;
}


body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: var(--one-color);
}

main {
    height: 100vh;
}

.Wrapper {
    width: 100vw;
    height: 100%;
    padding: 0%;

    display: flex;
    flex-direction: column;
}

.Header {    
    width: 100%;
    height: 50%;
    display: flex;

    justify-content: center;
    align-items: flex-end;
}

.Footer {
    padding: 0%;    
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ContentWrapper {
    padding-top: 2%;
    height: 70%;
    width: 40%;

    display: flex;
    justify-content: center;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-width: 300px;
    height: 70%;
    
}

.InputBox {
    width: 100%;
    height: 59%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.Text {
    color: var(--text-color);
    text-align: center;
    font-size: 420%;
    font-weight: bold;
    padding-bottom: 1%;
    letter-spacing: 1.2px;
}

.ColorText {
    color: var(--colortext-color);
}

.BtnBox {
    width: 100%;
    min-width: 300px;
    height: 50%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.BtnNext {
    padding-top: 1%;
    display: flex;
    justify-content: start;
    height: 40%;
    width: 44%;
}

.BtnRandomName {
    padding-top: 1%;
    display: flex;
    justify-content: end;
    height: 40%;
    width: 44%;
}

form {
    width: 100%;
    height: 100%;
}

.Btn {
	display: inline-block;
	border: 0;
	background-color: var(--btn-color);
	color: var(--text-color);
	text-decoration: none;

    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1.2px;
}

.Btn:hover {
    background-color: var(--btnhover-color);
    transition: all 0.4s ease;
}

.Input {
    background-color: var(--btn-color);
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 2%;
    padding-right: 2%;

    font-size: 16px;
    letter-spacing: 1.2px;
}

.Input:focus {
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

@media screen and (max-width: 1000px) {
    .BtnNext {
        height: 50%;
    }
    
    .BtnRandomName {
        height: 50%;
    }

    .Input {
        height: 45%;
    }
}

@media screen and (max-height: 675px) {
    .BtnNext {
        height: 70%;
    }
    
    .BtnRandomName {
        height: 70%;
    }

    .Input {
        height: 45%;
    }
}

@media screen and (min-width: 1000px) {
.Text {
    font-size: 600%;
}
}

@media screen and (min-width: 2000px) {
.Text {
    font-size: 680%;
}
.Btn {
    font-size: 180%;
}
.Input {
    font-size: 180%;
}
}

@media screen and (min-width: 1500px) {
.Btn {
    font-size: 100%;
}
.Input {
    font-size: 100%;
}
}

@media screen and (min-width: 1200px) {
.Btn {
    font-size: 120%;
}
.Input {
    font-size: 120%;
}
}

@media screen and (max-width: 400px) {
.Text {
    font-size: 360%;
}
}