body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    
    flex-direction: row;

    font-family: 'Roboto', sans-serif;

    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    position: absolute;

}

.left-container {
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-container {
    border-left: 4px rgb(91, 136, 63) solid;
    border-right: 2px rgb(91, 136, 63) solid;
    border-top: 4px rgb(91, 136, 63) solid;
    border-bottom: 2px rgb(91, 136, 63) solid;
    height: 33%;
}

.online-container {
    border-left: 4px rgb(91, 136, 63) solid;
    border-right: 2px rgb(91, 136, 63) solid;
    border-top: 2px rgb(91, 136, 63) solid;
    border-bottom: 2px rgb(91, 136, 63) solid;
    height: 33%;
}

.changelog-container {
    border-left: 4px rgb(91, 136, 63) solid;
    border-right: 2px rgb(91, 136, 63) solid;
    border-top: 2px rgb(91, 136, 63) solid;
    border-bottom: 4px rgb(91, 136, 63) solid;
    height: 33%;
}

/* ////////////////////////////////// */
.right-container {
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: stretch;
}


.chat-box {
    border-left: 2px rgb(91, 136, 63) solid;
    border-right: 4px rgb(91, 136, 63) solid;
    border-top: 4px rgb(91, 136, 63) solid;
    border-bottom: 0px rgb(91, 136, 63) solid;

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.input_box {
    border-top: 0px rgb(91, 136, 63) solid;
    border-left: 2px rgb(91, 136, 63) solid;
    border-right: 4px rgb(91, 136, 63) solid;
    border-bottom: 4px rgb(91, 136, 63) solid;
    
    height: 10%;
    padding-top: 10px;
}

.in {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5px;
}

#message-input {
    width: 100%;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(91, 136, 63);
    border-radius: 4px;
    box-sizing: border-box;
    outline: rgb(91, 136, 63);
}

#sender {
    background-color: rgb(91, 136, 63);
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.account-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    min-height: 20%;
}

.account-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    min-height: 20%;
}

.account-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    min-height: 60%;
}

/* .log-btn {
    background-color: rgb(173, 194, 173);
    font-size: 21px;
    border: 3px green solid;
    border-radius: 5px;
    height: 30%;
} */

.text-green {
    color: rgb(91, 136, 63);
}

.online-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    min-height: 20%;
    background-color: rgb(255, 255, 255);
}

.online-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    max-height: 80%;

    overflow-x: hidden;
    overflow-y: auto;
}

.changelog-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    min-height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.changelog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    max-height: 80%; 
    padding-left: 10px;
    padding-right: 10px;

    overflow-x: hidden;
    overflow-y: auto;
}

#messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 20px;

    overflow-x: hidden;
}

.message-container {
    width: 95%;
    font-size: 19px;
    padding-top: 10px;
}

.user-name {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    border-left: 2px grey solid;
}

.user-text {
    padding: 0px 5px 5px 5px;
    border-left: 2px grey solid;
}

@media screen and (max-width: 1080px) {
    .left-container {
        display: none;
    }
}